body{
    margin:0;
    font-family: Arial,  sans-serif  
}

.sidebar{
  height: 100vh; /* full height */
      width: 220px;
      background-color: #222;
      color: white;
      padding-top: 20px;
      position: fixed;
    }

    .sidebar a {
      display: block;
      color: white;
      padding: 12px 20px;
      text-decoration: none;
    }

    .sidebar a:hover {
      background-color: #575757;
    }

    /* Content area */
    .content {
      margin-left:220px;
      width: calc(100%-220px); /* same as sidebar width */
      padding: 20px;
      min-height: 100vh; /* full height */
    background-color: chocolate;
    }
    @keyframes fadeInup {
    
      to{
        opacity: 1;
        transform: translateY(0);
      }
    }
